nav{
    background-color: rebeccapurple;
    padding: 10px;

    display: flex;
    justify-content: space-around;
}

.nav-enlace{
    display: inline-block;
    background: salmon;
    color: #ffff;

    margin: 40px;
    padding: 10px 30px;

    text-decoration: none;
}

.nav-enlace:hover{
    background: red;
}

.nav-button{
    background-color: salmon;
    color: #ffff;
    padding: 10px 0px;

    border: 2px solid #ffff;

    display: none;
}

@media (max-width:740px){
    nav{
        background: black;
        flex-direction: column;
    }

    .nav-enlace{
        margin: 10px 0px;
    }
    
    .nav-button{
        display: inline-block;
    }

    .desaparece{
        display: none;
    }
}